<!-- wp:group {"className":"travelvania","layout":{"type":"default"}} -->
<div class="wp-block-group travelvania"><!-- wp:template-part {"slug":"header","theme":"travelvania","tagName":"header","className":"site-header"} /-->

    <!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"}}},"layout":{"type":"constrained"}} -->
    <main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--80)"><!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"10rem"}}} -->
    <h2 class="wp-block-heading has-text-align-center" style="font-size:10rem">404</h2>
    <!-- /wp:heading -->
    
    <!-- wp:heading {"textAlign":"center"} -->
    <h2 class="wp-block-heading has-text-align-center">The Page You Were Looking For Does Not Exist</h2>
    <!-- /wp:heading -->
    
    <!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
    <div class="wp-block-buttons"><!-- wp:button {"textAlign":"center","backgroundColor":"luminous-vivid-orange"} -->
    <div class="wp-block-button"><a class="wp-block-button__link has-luminous-vivid-orange-background-color has-background has-text-align-center wp-element-button">Return To Home</a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div>
    <!-- /wp:group -->
    
    <!-- wp:spacer {"height":"40px"} -->
    <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></main>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"travelvania","tagName":"footer","className":"site-footer"} /--></div>
    <!-- /wp:group -->