<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"className":"travelvania","layout":{"type":"default"}} -->
<div class="wp-block-group travelvania"><!-- wp:template-part {"slug":"header","theme":"travelvania","align":"full"} /-->
       <!-- wp:group {"align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignfull">
    <!-- wp:pattern {"slug":"travelvania/banner"} /-->
    <!-- wp:pattern {"slug":"travelvania/about"} /-->
    <!-- wp:pattern {"slug":"travelvania/service"} /-->
    <!-- wp:pattern {"slug":"travelvania/project"} /-->
    <!-- wp:pattern {"slug":"travelvania/testimonial"} /-->
    </div>
<!-- /wp:group -->
<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"align":"full","layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignfull"><!-- wp:cover {"overlayColor":"bright","minHeight":300,"minHeightUnit":"px","isDark":false,"align":"full"} -->
    <div class="wp-block-cover alignfull is-light" style="min-height:300px"><span aria-hidden="true" class="wp-block-cover__background has-bright-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:heading {"textAlign":"center","fontSize":"large"} -->
    <h2 class="wp-block-heading has-text-align-center has-large-font-size">How To Import Demo ?</h2>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center"} -->
    <p class="has-text-align-center">You can import all demo in just one click...</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"},"style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}}} -->
    <div class="wp-block-buttons" style="margin-top:var(--wp--preset--spacing--60)"><!-- wp:button {"textAlign":"center","style":{"border":{"radius":"1rem"}}} -->
    <div class="wp-block-button"><a class="wp-block-button__link has-text-align-center wp-element-button" href="#" style="border-radius:1rem">Know More</a></div>
    <!-- /wp:button --></div>
    <!-- /wp:buttons --></div></div>
    <!-- /wp:cover --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","theme":"travelvania","align":"full"} /--></div>
    <!-- /wp:group -->